/* PROGRESS */
progress {
   position: fixed;
   top: 0;
   left: 0;

   width: 100%;
   height: 6px;

   /* Reset the appearance */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   /* Get rid of the default border in Firefox/Opera. */
   border: none;
   /* Progress bar container for Firefox/IE10+ */
   background-color: transparent;
   /* Progress bar value for IE10+ */
   color: green;
}

progress::-webkit-progress-bar {
   background-color: transparent;
}

progress::-webkit-progress-value {
   background-color: green;
}

progress::-moz-progress-bar {
   background-color: green;
}


/* ------------------------------------------- */
* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}


nav,
footer {
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   background-color: #ddd;
}

/* nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
} */


footer {
   min-height: 200px;
}

article {
   padding: 10px 25px;
   /* max-width: 600px; */
   margin: 0 auto;
   /* margin-top: 60px; */
   background-color: rgb(75, 75, 75);
}

.article2 {
   background-color: rgb(153, 151, 122);
}

p {
   line-height: 1.5;
}