/* PROGRESS */
progress {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;

   display: block;
   height: 4px;
   width: 100%;

   /* Reset the appearance */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   /* Get rid of the default border in Firefox/Opera. */
   border: none;
   /* Progress bar container for Firefox/IE10+ */
   background-color: transparent;
   /* Progress bar value for IE10+ */
   color: green;
}

progress::-webkit-progress-bar {
   background-color: transparent;
}

progress::-webkit-progress-value {
   background-color: green;
   transition: 0.3s width linear;
}

progress::-moz-progress-bar {
   background-color: green;
   transition: 0.3s width linear;
}




/* ------------------------------------------- */
* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   position: relative;
}


nav,
footer {
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   background-color: #ddd;
}

nav {
   /* position: fixed; */
   /* display: none; */
   background-color: rgba(255, 255, 255, 0.315);
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
}


footer {
   min-height: 200px;
}

article {
   position: relative;
   padding: 10px 25px;
   margin: 0 auto;
   background-color: rgb(110, 110, 110);
   overflow-y: hidden;
}

.article1 {
   /* margin-top: 60px; */
}

.article2 {
   background-color: rgb(153, 151, 122);
}

p {
   line-height: 1.5;
}