* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   position: relative;
}

nav,
footer {
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   background-color: #ddd;
}

nav {
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
}

footer {
   min-height: 200px;
}

article {
   position: relative;
   padding: 10px 25px;
   margin: 0 auto;
}

.article1 {
   background-color: rgb(156, 156, 156);
}

.article2 {
   background-color: rgb(211, 209, 184);
}

p {
   line-height: 1.5;
}